@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- main-container start -->
<!-- ================ -->
<section class="main-container">

    <div class="container">
        <div class="row">

            <!-- main start -->
            <!-- ================ -->
            <div class="main col-sm-12">

                <!-- page-title start -->
                <!-- ================ -->
                <h1 class="page-title">ImageGrid</h1>
                <div class="separator-2"></div>
                <p class="lead">Select From A Variety of User Upload Images!</p>
                <!-- page-title end -->
                <!-- isotope filters start -->
                <div class="filters">
                    <ul class="nav nav-pills">
                        <li class="active"><a href="#" data-filter="*">All</a></li>
                        <li><a href="#" data-filter=".web-design">Web design</a></li>
                        <li><a href="#" data-filter=".app-development">App development</a></li>
                        <li><a href="#" data-filter=".site-building">Site building</a></li>
                    </ul>
                </div>
                <!-- isotope filters end -->
                <!-- portfolio items start -->
                <div class="isotope-container row grid-space-20">
                    <div class="col-sm-6 col-md-3 isotope-item web-design">
                        <div class="image-box">
                            <div class="overlay-container">
                                <img class="col-sm-12" src="http://cdn.ipetitions.com/user-images/petitions/bring-grumpy-cat-to-western-michigan-university/7UDBlLrTGG5epg0X2agg_12.27.2013-1.jpg" alt="">
                                <a href="portfolio-item.html" class="overlay small">
                                    <i class="fa fa-link"></i>
                                    <span>Web Design</span>
                                </a>
                            </div>
                            <a href="portfolio-item.html" class="btn btn-light-gray btn-block">Project Title</a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 isotope-item app-development">
                        <div class="image-box">
                            <div class="overlay-container">
                                <img class="col-sm-12" src="http://cdn.ipetitions.com/user-images/petitions/bring-grumpy-cat-to-western-michigan-university/7UDBlLrTGG5epg0X2agg_12.27.2013-1.jpg" alt="">
                                <a href="portfolio-item.html" class="overlay small">
                                    <i class="fa fa-link"></i>
                                    <span>App Development</span>
                                </a>
                            </div>
                            <a href="portfolio-item.html" class="btn btn-light-gray btn-block">Project Title</a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 isotope-item web-design">
                        <div class="image-box">
                            <div class="overlay-container">
                                <img class="col-sm-12" src="http://cdn.ipetitions.com/user-images/petitions/bring-grumpy-cat-to-western-michigan-university/7UDBlLrTGG5epg0X2agg_12.27.2013-1.jpg" alt="">
                                <a href="portfolio-item.html" class="overlay small">
                                    <i class="fa fa-link"></i>
                                    <span>Web Design</span>
                                </a>
                            </div>
                            <a href="portfolio-item.html" class="btn btn-light-gray btn-block">Project Title</a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 isotope-item site-building">
                        <div class="image-box">
                            <div class="overlay-container">
                                <img class="col-sm-12" src="http://cdn.ipetitions.com/user-images/petitions/bring-grumpy-cat-to-western-michigan-university/7UDBlLrTGG5epg0X2agg_12.27.2013-1.jpg" alt="">
                                <a href="portfolio-item.html" class="overlay small">
                                    <i class="fa fa-link"></i>
                                    <span>Site Building</span>
                                </a>
                            </div>
                            <a href="portfolio-item.html" class="btn btn-light-gray btn-block">Project Title</a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 isotope-item app-development">
                        <div class="image-box">
                            <div class="overlay-container">
                                <img class="col-sm-12" src="http://cdn.ipetitions.com/user-images/petitions/bring-grumpy-cat-to-western-michigan-university/7UDBlLrTGG5epg0X2agg_12.27.2013-1.jpg" alt="">
                                <a href="portfolio-item.html" class="overlay small">
                                    <i class="fa fa-link"></i>
                                    <span>App Development</span>
                                </a>
                            </div>
                            <a href="portfolio-item.html" class="btn btn-light-gray btn-block">Project Title</a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 isotope-item web-design">
                        <div class="image-box">
                            <div class="overlay-container">
                                <img class="col-sm-12" src="http://cdn.ipetitions.com/user-images/petitions/bring-grumpy-cat-to-western-michigan-university/7UDBlLrTGG5epg0X2agg_12.27.2013-1.jpg" alt="">
                                <a href="portfolio-item.html" class="overlay small">
                                    <i class="fa fa-link"></i>
                                    <span>Web Design</span>
                                </a>
                            </div>
                            <a href="portfolio-item.html" class="btn btn-light-gray btn-block">Project Title</a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 isotope-item site-building">
                        <div class="image-box">
                            <div class="overlay-container">
                                <img class="col-sm-12" src="http://cdn.ipetitions.com/user-images/petitions/bring-grumpy-cat-to-western-michigan-university/7UDBlLrTGG5epg0X2agg_12.27.2013-1.jpg" alt="">
                                <a href="portfolio-item.html" class="overlay small">
                                    <i class="fa fa-link"></i>
                                    <span>Site Building</span>
                                </a>
                            </div>
                            <a href="portfolio-item.html" class="btn btn-light-gray btn-block">Project Title</a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 isotope-item web-design">
                        <div class="image-box">
                            <div class="overlay-container">
                                <img class="col-sm-12" src="http://cdn.ipetitions.com/user-images/petitions/bring-grumpy-cat-to-western-michigan-university/7UDBlLrTGG5epg0X2agg_12.27.2013-1.jpg" alt="">
                                <a href="portfolio-item.html" class="overlay small">
                                    <i class="fa fa-link"></i>
                                    <span>Web Design</span>
                                </a>
                            </div>
                            <a href="portfolio-item.html" class="btn btn-light-gray btn-block">Project Title</a>
                        </div>
                    </div>
                </div>
                <!-- portfolio items end -->

            </div>
            <!-- main end -->

        </div>
    </div>
</section>
<!-- main-container end -->



